
<div id="portfolio" class="px-5" >
  <div class="container pt-3">
    <div class="col-sm-12 text-center">
      <h1 class="display-4 fw-normal">Meus Projetos</h1>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a href="https://github.com/arthurilha/Pokedex" target="_blank" style="text-decoration: none; color:#000;">
        <div class="card shadow-lg mb-5 pt-2 " style="width: 18rem; background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/portolios/pokebola-go.png" class="card-img-top" alt="..." style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">Pokedex</h5>
            <p class="card-text">Projeto destinado para aprender a manipular api.</p>
           
          </div>
        </div>
      </a>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/arthurilha/Bioview" target="_blank" style="text-decoration: none; color:#000;">
        <div class="card shadow-lg mb-5 pt-2" style="width: 18rem; background-color: #E5E5E5; border: none; align-items: center;">
          <img src="../../../assets/portolios/bioview.png" class="card-img-top" alt="..." style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">Bioview</h5>
            <p class="card-text">Projeto de um aplicativo para fins biológicos do campus da Pucrs.</p>
           
          </div>
        </div>
      </a>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/arthurilha/Nutri2u " target="_blank" style="text-decoration: none; color:#000;">
        <div class="card shadow-lg mb-5 pt-2" style="width: 18rem; background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/portolios/nutri2u.png" class="card-img-top" alt="..." style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">Nutri2u</h5>
            <p class="card-text">Projeto onde é possivel calcular o imc e tmb do paciente.</p>
            
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  <div class="container pb-2 pt-5">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://github.com/arthurilha/Instagram.Ang" target="_blank" style="text-decoration: none; color:#000;">
        <div class="card shadow-lg mb-5 pt-2" style="width: 18rem; background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/portolios/instaaa.png" class="card-img-top" alt="..." style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">Instagram</h5>
            <p class="card-text">Projeto em angular com objetivo de manipular sistemas de login e cadastro com api´s.</p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/arthurilha/MyTag" target="_blank" style="text-decoration: none; color:#000;">
        <div class="card shadow-lg mb-5 pt-2" style="width: 18rem; background-color: #E5E5E5; border: none; align-items: center;">
          <img src="../../../assets/portolios/use.png" class="card-img-top rounded" alt="..." style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">MyTag</h5>
            <p class="card-text">Projeto realizado com objetivo de facilitar o compartilhamento de redes sociais entre pessoas.</p>
            
          </div>
        </div>
      </a>
      </div>
      <div class="col-sm-4">
        <a href="https://github.com/arthurilha/ProjetoHammer"  target="_blank" style="text-decoration: none; color:#000;">
        <div class="card shadow-lg mb-5 pt-2" style="width: 18rem; background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/portolios/teste.png" class="card-img-top rounded" alt="..." style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">Teste Hammer</h5>
            <p class="card-text">Projeto feito para o teste de estágio da Hammer consult em front-end, manipulando api´s.</p>
            
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>