<div class="container px-4 py-5 "  id="contatos">
  <h2 class="pb-2 border-bottom">Contatos</h2>
  <div class="flex-center row row-cols-1 row-cols-lg-3">
    <div class="col-sm-12 flex-center">
      <a href="https://github.com/arthurilha" target="_blank" class="icon-link mx-4">
        <img src="../../../assets/contatos/github.png" alt="">
        <h2>Github</h2>
      </a>
      <a href="https://www.linkedin.com/in/arthur-ilha/"  target="_blank" class="icon-link mx-4">
        <img src="../../../assets/contatos/linkedin.png" alt="">
        <h2>Linkedin</h2>
      </a>
      <a href="mailto:arthur.ilha20@gmail.com" class="icon-link mx-4">
        <img src="../../../assets/contatos/email.png" alt="">
        <h2>Email</h2>
      </a>

    </div>

  </div>
</div>
