
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class=" li nav-item"><a href="#" class="lu nav-link " aria-current="page">Bem vindo</a></li>
      <li class="nav-item"><a href="#" class="ul nav-link">Sobre</a></li>
      <li class="nav-item"><a href="#" class="ul nav-link">Conhecimentos</a></li>
      <li class="nav-item"><a href="#" class="ul nav-link">Portfólio</a></li>
      <li class="nav-item"><a href="#" class="ul nav-link">Contatos</a></li>
    </ul>
  </header>
</div>
