<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
  <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
    <h1 class="display-4 fw-bold lh-1">Sobre</h1>
    <p class="lead">Olá, sou o <strong>Arthur</strong>
      e esse bloco é destinado para falar sobre mim.
     </p><p>Nasci e moro em Porto Alegre-RS, tenho 20 anos e estou cursando o 5° semestre de
     Sistemas de Informação na PUCRS, atualmente estou trabalhando com desenvolvimento FrontEnd na empresa Hammer Consult. Sou uma pessoa muito alegre com um mindset de crescimento, 
     busco sempre trabalhar em equipe e dialogar com as pessoas ao meu redor, tenho muitos objetivos e sonhos 
     para realizar, algo que sempre me chamou atenção foi o empreendedorismo, poder ajudar as pessoas criando soluções que facilitaram o seu dia a dia.
    </p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
      <button type="button" class=" b1 btn btn-lg px-4 me-md-2 fw-bold">Contatos</button>
    </div>
  </div>
  <div class="animacao col-lg-4 offset-lg-1">
      <img class="rounded-lg-3 mx-1"src="../../../assets/animaçoes/animation_500_l0mt4wtu.gif" alt="animacao"  width="400" height="350">
  </div>
</div>
