.home{

  background-color: #E5E5E5;
  height: 100vh;
  margin-top:-2rem;

  .CV{
    background-color:#5A189A;
    color:#fff;
    font-weight: bold;
  }

  .CT{
    background-color:#FF8500;
    color:#fff;
    border:none;
    font-weight: bold;
  }
}

.sobre{
  background-color: #E5E5E5;
  height: 100vh;
}