<div class="home px-4 py-5 text-center">
  <img class="d-block mx-auto" src="../../../assets/animaçoes/animation_500_l0mw4qru.gif" alt="" width="272" height="240">
  <h1 class="display-5 fw-bold">Arthur Ilha</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Seja humilde para admitir seus erros, inteligente para aprender com eles e maduro para corrigi-los.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="../../../assets/curriculo/curriculo.atualizado.pdf" class="CV px-4 gap-3" download="CV-Arthur Ilha">Baixar CV</a>
      <a href="#contatos" class="CT px-4">Contatos</a>
    </div>
  </div>
  
</div>

<div class="sobre">
  <app-sobre>
  
  </app-sobre>
</div>

<div class="conhecimento">
  <app-conhecimentos>
  
  </app-conhecimentos>
</div>

<div class="portfolio">
  <app-portfolio>
  
  </app-portfolio>
</div>
<div class="contatos">
  <app-contatos>
  
  </app-contatos>
</div>
