<div class="home px-4 py-5 text-center">
  <img class="d-block mx-auto" src="../../../assets/animaçoes/animation_500_l0mt4wtu.gif" alt="" width="272" height="240">
  <h1 class="display-5 fw-bold">Arthur Ilha</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Eu não fiz nada sozinha, mas tentei ir à raiz da questão e consegui. -
    Katherine Johnson</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="CV btn btn-lg px-4 gap-3">Baixar CV</button>
      <button type="button" class="CT btn btn-outline-secondary btn-lg px-4">Contatos</button>
    </div>
  </div>
  
</div>
<div class="sobre">
  <app-sobre>
  
  </app-sobre>
</div>

<div class="conhecimento">
  <app-conhecimentos>
  
  </app-conhecimentos>
</div>

<div class="portfolio">
  <app-portfolio>
  
  </app-portfolio>
</div>
