.home{

  background-color: #E5E5E5;
  height: 100vh;
  margin-top:-2rem;
  

  .CV{
    background-color:#5A189A;
    color:#fff;
    padding: 10px;
    border-radius: 16px;
    border:none;
    font-weight: bold;
    text-decoration: none;
  }

  .CT{
    background-color:#FF8500;
    color:#fff;
    padding: 10px;
    border-radius: 16px;
    border:none;
    font-weight: bold;
    text-decoration: none;
  }
}

.sobre{
  background-color: #E5E5E5;
  height: 100vh;
}