.desc{
  margin-top: -100px;
}

.angular{
   background-image: url('../../../assets/linguagens/angular.png');
   background-size: 100%;
}

.react{
  background-image: url('../../../assets/linguagens/react.png');
  background-size: 100%;
}

.tp{
  background-image: url('../../../assets/linguagens/tj.png');
  background-size: 100%;
}

.reactf{
  color:#212529;
}
.tpf{
  color:#212529;
}
