<main>
  <div class="desc pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Conhecimento</h1>
    <p class="fs-5 text-muted px-5">Nesse bloco eu apresento as linguagens que eu mais utilizo no meu dia a dia de trabalho, porém conheço outras linguagens principalmente por ter que usar na faculdade, acredito que devemos priorizar a lógica e não determinadas linguagens.</p>
  </div>
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Linguagens de programação</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="angular card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Angular</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/logos/langular.png" alt="angular" width="32" height="32">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class=" react card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="reactf pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">React</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/logos/lreact.png" alt="react" width="32" height="32">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="tp card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="tpf pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">TypeScript & JavaScript</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../../../assets/logos/ts.png" alt="angular" width="32" height="32">
                <img src="../../../assets/logos/js.png" alt="angular" width="32" height="32">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>