<div class="container" id="conhecimento" >
  <div class="desc pricing-header pt-5 text-center">
    <h1 class="display-4 fw-normal">Conhecimento</h1>
    <p class="fs-5 text-muted px-5">Nesse bloco eu apresento as linguagens que eu mais utilizo no meu dia a dia de trabalho na empresa Hammer Consult, porém conheço outras linguagens principalmente por ter que usar na faculdade, Possuo também experiência de trabalho com metodologias ágeis como Scrum e Kanban.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;  background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/logos/langular.png" class="card-img-top" alt="..."style="height: 150px; width: 150px;">
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
          
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/logos/lreact.png" style="height: 150px; width: 150px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">React</h5>
           
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; background-color: #E5E5E5; border: none;align-items: center">
          <img src="../../../assets/logos/ts.webp" style="height: 150px; width: 350px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">JavaScript and TypeScript</h5>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>