<div class="container borda" id="sobre">
  <div class="row  mx-3">
    <div class="col-sm-12">
      <h1>Sobre</h1>
    </div>
    <div class="fundo col-sm-7 ">
      <p class="lead">Olá, sou o <strong>Arthur</strong>
        e esse bloco é destinado para falar sobre mim.
       </p><p>Nasci no ano de 2001 e moro em Porto Alegre-RS, estou cursando a graduação de Sistemas de Informação na PUCRS, atualmente estou trabalhando com desenvolvimento FrontEnd na empresa Hammer Consult. Sou uma pessoa muito alegre com um mindset de crescimento, 
       busco sempre trabalhar em equipe e dialogar com as pessoas ao meu redor, tenho muitos objetivos e sonhos 
       para realizar, algo que sempre me chamou atenção foi o empreendedorismo, poder ajudar as pessoas criando soluções que facilitaram o seu dia a dia.
      </p>
    </div>
    <div class="col-sm-5">
      <img src="../../../../assets/animaçoes/animation_500_l0mt4wtu.gif" alt="" style="height:400px; width:400px;">
    </div>
  </div>

</div>